@font-face {
   font-family: 'AmstelvarAlpha Default';
   src: url('../fonts/AmstelvarAlpha-Default.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}