@keyframes move {
   0% {
      transform: translate(-100%, 0);
   }

   100% {
      transform: translate(450px, 0);
   }
}

@keyframes rotate {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(720deg);
   }
}

@keyframes cloud {
   15% {
      transform: translate(710px, -270px);
   }

   60% {
      transform: translate(710px, -210px);
   }

   100% {
      transform: translate(1300px, -230px);
   }
}

@keyframes rain {
   0% {
      transform: translate(820px, -255px);
   }

   100% {
      transform: translate(820px, -140px);
   }
}

@keyframes rainbow {
   0% {
      transform: translate(380px, -650px);
   }

   100% {
      transform: translate(380px, -545px);
   }
}

@keyframes rocking {

   0% {
      transform: rotate(10deg);
   }

   100% {
      transform: rotate(-10deg);
   }
}