@import url("https://fonts.googleapis.com/css?family=Orbitron:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo+2:regular&display=swap");
@font-face {
  font-family: "Integral CF";
  src: url("../fonts/Fontspring-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@-webkit-keyframes background-movement-left {
  0% {
    top: -100px;
  }
  50% {
    left: 220px;
  }
  100% {
    top: 200px;
    left: 150px;
  }
}

@keyframes background-movement-left {
  0% {
    top: -100px;
  }
  50% {
    left: 220px;
  }
  100% {
    top: 200px;
    left: 150px;
  }
}
@-webkit-keyframes list-movement {
  0% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}
@keyframes list-movement {
  0% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}
body {
  color: #ffffff;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: #000000;
  padding: 40px 0px 30px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}
.header__logo {
  font-family: "Exo 2", sans-serif;
  letter-spacing: -2px;
  position: relative;
  z-index: 5;
}
@media (min-width: 82.5em) {
  .header__logo {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (font-size: clamp( 1.375rem , 1.215rem  +  0.8vw , 1.875rem )) {
    .header__logo {
      font-size: clamp( 1.375rem , 1.215rem  +  0.8vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.375rem , 1.215rem  +  0.8vw , 1.875rem )) {
    .header__logo {
      font-size: calc(1.375rem + 0.5 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .header__logo {
    font-size: 1.375rem;
  }
}
.header__menu {
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
}
@media (max-width: 991.98px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 4;
    padding-top: 100px;
  }
  .menu-open .header__menu {
    top: 0;
  }
}
.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  row-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 991.98px) {
  .menu-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 35px;
  }
}
@media (max-width: 991.98px) and (min-width: 82.5em) {
  .menu-header {
    font-size: 2.25rem;
  }
}
@media (max-width: 991.98px) and (min-width: 20em) and (max-width: 82.5em) {
  @supports (font-size: clamp( 1.375rem , 1.095rem  +  1.4vw , 2.25rem )) {
    .menu-header {
      font-size: clamp( 1.375rem , 1.095rem  +  1.4vw , 2.25rem );
    }
  }
  @supports not (font-size: clamp( 1.375rem , 1.095rem  +  1.4vw , 2.25rem )) {
    .menu-header {
      font-size: calc(1.375rem + 0.875 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 991.98px) and (max-width: 20em) {
  .menu-header {
    font-size: 1.375rem;
  }
}
.menu-header__item {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .menu-header__item:hover {
    color: #6F00A9;
  }
}
.menu-header__link {
  text-transform: uppercase;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1090px) {
  .actions-header {
    display: none;
  }
}
.actions-header__link {
  width: 20px;
  height: 20px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
@media (any-hover: hover) {
  .actions-header__link:hover {
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.actions-header__icon {
  max-width: 100%;
}

.icon-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .icon-menu {
    display: block;
    position: relative;
    height: 19px;
    width: 30px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    z-index: 5;
  }
  .icon-menu::after, .icon-menu::before,
  .icon-menu span {
    content: "";
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu span {
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

.gallery__title::after, .about-section__title::after, .left-block__name::after {
  height: 1px;
  background: linear-gradient(191deg, rgb(255, 0, 0) 0%, rgb(66, 255, 0) 53%, rgb(36, 0, 255) 100%);
  width: 140%;
}

.information::after, .information::before {
  width: 480px;
  height: 480px;
  background: linear-gradient(102deg, rgb(151, 0, 255) 0%, rgb(255, 0, 0) 25%, rgb(66, 255, 0) 53%, rgb(36, 0, 255) 100%);
  border-radius: 50%;
  opacity: 0.35;
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

.information {
  background-color: #000000;
  font-family: "Exo 2", sans-serif;
  border-bottom: 70px solid #000000;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
@media (min-width: 82.5em) {
  .information {
    padding-top: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (padding-top: clamp( 3.125rem , 2.325rem  +  4vw , 5.625rem )) {
    .information {
      padding-top: clamp( 3.125rem , 2.325rem  +  4vw , 5.625rem );
    }
  }
  @supports not (padding-top: clamp( 3.125rem , 2.325rem  +  4vw , 5.625rem )) {
    .information {
      padding-top: calc(3.125rem + 2.5 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .information {
    padding-top: 3.125rem;
  }
}
.information::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  z-index: -1;
  -webkit-animation-name: background-movement-left;
          animation-name: background-movement-left;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.information::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -50px;
  z-index: -1;
}
.information__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 20px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1016px) {
  .information__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 580px;
          flex: 0 0 580px;
}
@media (min-width: 82.5em) {
  .left-block {
    row-gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (row-gap: clamp( 0.9375rem , 0.6375rem  +  1.5vw , 1.875rem )) {
    .left-block {
      row-gap: clamp( 0.9375rem , 0.6375rem  +  1.5vw , 1.875rem );
    }
  }
  @supports not (row-gap: clamp( 0.9375rem , 0.6375rem  +  1.5vw , 1.875rem )) {
    .left-block {
      row-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .left-block {
    row-gap: 0.9375rem;
  }
}
@media (max-width: 1016px) {
  .left-block {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}
.left-block__name {
  font-size: 18px;
  letter-spacing: -1px;
  text-transform: uppercase;
  position: relative;
}
.left-block__name::after {
  content: " ";
  position: absolute;
  left: 0;
}
@media (min-width: 82.5em) {
  .left-block__name::after {
    bottom: -0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (bottom: clamp( -0.9375rem , -0.1125rem  +  -1vw , -0.3125rem )) {
    .left-block__name::after {
      bottom: clamp( -0.9375rem , -0.1125rem  +  -1vw , -0.3125rem );
    }
  }
  @supports not (bottom: clamp( -0.9375rem , -0.1125rem  +  -1vw , -0.3125rem )) {
    .left-block__name::after {
      bottom: calc(-0.3125rem + -0.625 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .left-block__name::after {
    bottom: -0.3125rem;
  }
}
.left-block__description {
  font-weight: 700;
  line-height: 0.87;
  text-transform: uppercase;
}
@media (min-width: 82.5em) {
  .left-block__description {
    font-size: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (font-size: clamp( 2rem , 1.04rem  +  4.8vw , 5rem )) {
    .left-block__description {
      font-size: clamp( 2rem , 1.04rem  +  4.8vw , 5rem );
    }
  }
  @supports not (font-size: clamp( 2rem , 1.04rem  +  4.8vw , 5rem )) {
    .left-block__description {
      font-size: calc(2rem + 3 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .left-block__description {
    font-size: 2rem;
  }
}
.left-block__text {
  font-size: 18px;
  text-transform: capitalize;
  line-height: 1.2;
}
@media (max-width: 479.98px) {
  .left-block__text {
    font-size: 15px;
  }
}
.left-block__button {
  /*font-size: 20px;*/
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Orbitron", sans-serif;
  background-color: #6F00A9;
  padding: 12px 60px;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}
@media (min-width: 82.5em) {
  .left-block__button {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (font-size: clamp( 0.875rem , 0.755rem  +  0.6vw , 1.25rem )) {
    .left-block__button {
      font-size: clamp( 0.875rem , 0.755rem  +  0.6vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.755rem  +  0.6vw , 1.25rem )) {
    .left-block__button {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .left-block__button {
    font-size: 0.875rem;
  }
}
@media (min-width: 82.5em) {
  .left-block__button {
    padding-left: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (padding-left: clamp( 2.5rem , 2.1rem  +  2vw , 3.75rem )) {
    .left-block__button {
      padding-left: clamp( 2.5rem , 2.1rem  +  2vw , 3.75rem );
    }
  }
  @supports not (padding-left: clamp( 2.5rem , 2.1rem  +  2vw , 3.75rem )) {
    .left-block__button {
      padding-left: calc(2.5rem + 1.25 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .left-block__button {
    padding-left: 2.5rem;
  }
}
@media (min-width: 82.5em) {
  .left-block__button {
    padding-right: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (padding-right: clamp( 2.5rem , 2.1rem  +  2vw , 3.75rem )) {
    .left-block__button {
      padding-right: clamp( 2.5rem , 2.1rem  +  2vw , 3.75rem );
    }
  }
  @supports not (padding-right: clamp( 2.5rem , 2.1rem  +  2vw , 3.75rem )) {
    .left-block__button {
      padding-right: calc(2.5rem + 1.25 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .left-block__button {
    padding-right: 2.5rem;
  }
}
@media (any-hover: hover) {
  .left-block__button:hover {
    -webkit-box-shadow: 0px 0px 5px 3px #d5abff;
            box-shadow: 0px 0px 5px 3px #d5abff;
  }
}

.image-decoration {
  position: relative;
}
.image-decoration__base {
  aspect-ratio: 376/508;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
}
.image-decoration__first {
  position: absolute;
  left: -190px;
  top: 0;
  z-index: 1;
}
@media (max-width: 574px) {
  .image-decoration__first {
    display: none;
  }
}
.image-decoration__second {
  position: absolute;
  left: 210px;
  top: 0;
  z-index: 1;
}
@media (max-width: 574px) {
  .image-decoration__second {
    display: none;
  }
}

.title {
  /*font-size: 60px;*/
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 82.5em) {
  .title {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (font-size: clamp( 1.5rem , 0.78rem  +  3.6vw , 3.75rem )) {
    .title {
      font-size: clamp( 1.5rem , 0.78rem  +  3.6vw , 3.75rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 0.78rem  +  3.6vw , 3.75rem )) {
    .title {
      font-size: calc(1.5rem + 2.25 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1.5rem;
  }
}

.about-section {
  background: url("../img/images/about-section.png") center/cover no-repeat;
  font-family: "Exo 2", sans-serif;
}
@media (min-width: 82.5em) {
  .about-section {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (padding-top: clamp( 1.25rem , -0.35rem  +  8vw , 6.25rem )) {
    .about-section {
      padding-top: clamp( 1.25rem , -0.35rem  +  8vw , 6.25rem );
    }
  }
  @supports not (padding-top: clamp( 1.25rem , -0.35rem  +  8vw , 6.25rem )) {
    .about-section {
      padding-top: calc(1.25rem + 5 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .about-section {
    padding-top: 1.25rem;
  }
}
@media (min-width: 82.5em) {
  .about-section {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (padding-bottom: clamp( 1.25rem , -0.35rem  +  8vw , 6.25rem )) {
    .about-section {
      padding-bottom: clamp( 1.25rem , -0.35rem  +  8vw , 6.25rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , -0.35rem  +  8vw , 6.25rem )) {
    .about-section {
      padding-bottom: calc(1.25rem + 5 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .about-section {
    padding-bottom: 1.25rem;
  }
}
.about-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.about-section__title {
  position: relative;
}
.about-section__title::after {
  content: " ";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -25px;
}
.about-section__description {
  /*font-size: 18px;*/
  line-height: 2.2;
  text-align: center;
  max-width: 990px;
  text-transform: capitalize;
}
@media (min-width: 82.5em) {
  .about-section__description {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (font-size: clamp( 0.875rem , 0.795rem  +  0.4vw , 1.125rem )) {
    .about-section__description {
      font-size: clamp( 0.875rem , 0.795rem  +  0.4vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.795rem  +  0.4vw , 1.125rem )) {
    .about-section__description {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .about-section__description {
    font-size: 0.875rem;
  }
}
.list-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -webkit-animation-name: list-movement;
          animation-name: list-movement;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.list-services__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
@media (min-width: 82.5em) {
  .list-services__item {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (font-size: clamp( 0.875rem , 0.755rem  +  0.6vw , 1.25rem )) {
    .list-services__item {
      font-size: clamp( 0.875rem , 0.755rem  +  0.6vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.755rem  +  0.6vw , 1.25rem )) {
    .list-services__item {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .list-services__item {
    font-size: 0.875rem;
  }
}
.list-services__item::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(191deg, rgb(255, 0, 0) 0%, rgb(66, 255, 0) 53%, rgb(36, 0, 255) 100%);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.gallery {
  font-family: "Exo 2", sans-serif;
  background-color: #000000;
  padding: 100px 0px;
  position: relative;
  z-index: 3;
}
.gallery::after {
  content: "";
  position: absolute;
  background: url("../img/images/film.png") center/cover no-repeat;
  opacity: 0.1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 80px;
}
.gallery__title {
  position: relative;
}
.gallery__title::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -25px;
}
.gallery__content {
  overflow-x: scroll;
  padding: 15px;
}

.video-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.video-gallery__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.video-gallery__block {
  margin-bottom: 20px;
  -webkit-transition: outline 0.3s;
  transition: outline 0.3s;
  cursor: pointer;
  position: relative;
}
@media (any-hover: hover) {
  .video-gallery__block:hover {
    outline: 10px solid #6F00A9;
  }
}
.video-gallery__block::after {
  content: url("../img/images/play.svg");
  position: absolute;
  top: 130px;
  left: 130px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.5;
}
.video-gallery__block:hover::after {
  top: 145px;
  opacity: 1;
}
.video-gallery__img {
  aspect-ratio: 360/360;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.video-gallery__title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.footer {
  padding: 20px;
  text-align: center;
  color: #000000;
}