@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,500,600,700&display=swap");
@font-face {
  font-family: "AmstelvarAlpha Default";
  src: url("../fonts/AmstelvarAlpha-Default.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 84.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.header {
  background-color: #f4f4f5;
}
.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.875rem;
  border-bottom: 1.5px solid #dfdfdf;
}
.top-header__btn {
  background: url("../img/icons/search.svg") center/22px no-repeat;
  height: 1.5625rem;
  width: 1.5625rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 3;
}
@media (any-hover: hover) {
  .top-header__btn:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media (max-width: 32.375em) {
  .top-header__btn {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.top-header__logo {
  position: relative;
  z-index: 3;
}
@media (max-width: 32.375em) {
  .top-header__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.top-header__actions {
  position: relative;
  z-index: 3;
}
@media (max-width: 32.375em) {
  .top-header__actions {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
@media (max-width: 32.375em) {
  .actions {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.actions__link {
  font-family: "Roboto", sans-serif;
  color: #1e2832;
  font-size: 1.125rem;
  padding-left: 1.5625rem;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
@media (any-hover: hover) {
  .actions__link:hover {
    color: #ff6f61;
  }
}
.actions__link--account {
  background: url("../img/icons/person.svg") left/20px no-repeat;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .actions__link--account:hover {
    background: url("../img/icons/person-hover.svg") left/20px no-repeat;
  }
}
.actions__link--shoping {
  background: url("../img/icons/shoping.svg") left/17px no-repeat;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .actions__link--shoping:hover {
    background: url("../img/icons/shoping-hover.svg") left/17px no-repeat;
  }
}

.logo {
  font-family: "AmstelvarAlpha Default", sans-serif;
  font-size: 1.75rem;
  text-transform: uppercase;
}
.logo::before {
  content: "";
  background: url("../img/icons/decor.png") left/24px no-repeat;
  width: 2rem;
  height: 0.9375rem;
}
.logo::after {
  content: "";
  background: url("../img/icons/decor.png") right/24px no-repeat;
  width: 2rem;
  height: 0.9375rem;
}

.menu-icon {
  display: none;
}
@media (max-width: 32.375em) {
  .menu-icon {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 71.75em) {
  .menu-icon {
    display: block;
    position: relative;
    height: 1.375rem;
    width: 2.25rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    position: relative;
    z-index: 3;
  }
  .menu-icon::before, .menu-icon::after,
  .menu-icon span {
    content: "";
    height: 0.125rem;
    width: 100%;
    background-color: #1E2832;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-icon::before {
    top: 0;
  }
  .menu-icon::after {
    bottom: 0;
  }
  .menu-icon span {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .menu-open .menu-icon::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -0.125rem;
  }
  .menu-open .menu-icon::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    margin-top: -0.125rem;
  }
  .menu-open .menu-icon span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}

.bottom-header {
  padding-top: 1.25rem;
  padding-bottom: 0.625rem;
}
@media (max-width: 71.75em) {
  .bottom-header {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #f4f4f5;
    z-index: 2;
    padding-top: 7.5rem;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .menu-open .bottom-header {
    left: 0;
  }
}
.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 71.75em) {
  .menu__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 1.875rem;
    padding-left: 1.875rem;
  }
}
@media (max-width: 71.75em) and (min-width: 82.5em) {
  .menu__items {
    font-size: 2rem;
  }
}
@media (max-width: 71.75em) and (min-width: 20em) and (max-width: 82.5em) {
  @supports (font-size: clamp( 1.5rem , 1.34rem  +  0.8vw , 2rem )) {
    .menu__items {
      font-size: clamp( 1.5rem , 1.34rem  +  0.8vw , 2rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 1.34rem  +  0.8vw , 2rem )) {
    .menu__items {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 71.75em) and (max-width: 20em) {
  .menu__items {
    font-size: 1.5rem;
  }
}
.menu__link {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #ff6f61;
  }
}

.main__collections {
  position: relative;
}

.collections {
  background-color: #f4f4f5;
  padding-bottom: 5rem;
  -webkit-box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}
@media (min-width: 82.5em) {
  .collections {
    padding-top: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (padding-top: clamp( 1.875rem , 1.075rem  +  4vw , 4.375rem )) {
    .collections {
      padding-top: clamp( 1.875rem , 1.075rem  +  4vw , 4.375rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 1.075rem  +  4vw , 4.375rem )) {
    .collections {
      padding-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .collections {
    padding-top: 1.875rem;
  }
}
.collections__decor--left {
  position: absolute;
  left: 0;
  bottom: 100px;
}
@media (max-width: 43.6875em) {
  .collections__decor--left {
    display: none;
  }
}
.collections__decor--right {
  position: absolute;
  right: 0;
  bottom: 200px;
}
@media (max-width: 43.6875em) {
  .collections__decor--right {
    display: none;
  }
}
.collections__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6.5625rem;
     -moz-column-gap: 6.5625rem;
          column-gap: 6.5625rem;
  row-gap: 1.875rem;
}
@media (max-width: 77.5em) {
  .collections__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.information {
  font-family: "Roboto", sans-serif;
  -ms-flex-preferred-size: 42.625rem;
      flex-basis: 42.625rem;
}
.information > * {
  margin-bottom: 3.125rem;
}
@media (max-width: 77.5em) {
  .information > * {
    margin-bottom: 1.5625rem;
  }
}
.information > *:last-child {
  margin-bottom: 0rem;
}
.information__title {
  font-weight: 300;
}
@media (min-width: 82.5em) {
  .information__title {
    font-size: 4.625rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (font-size: clamp( 2.25rem , 1.49rem  +  3.8vw , 4.625rem )) {
    .information__title {
      font-size: clamp( 2.25rem , 1.49rem  +  3.8vw , 4.625rem );
    }
  }
  @supports not (font-size: clamp( 2.25rem , 1.49rem  +  3.8vw , 4.625rem )) {
    .information__title {
      font-size: calc(2.25rem + 2.375 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .information__title {
    font-size: 2.25rem;
  }
}
.information__description {
  line-height: 1.6;
  text-transform: capitalize;
}
@media (min-width: 82.5em) {
  .information__description {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (font-size: clamp( 1.125rem , 0.885rem  +  1.2vw , 1.875rem )) {
    .information__description {
      font-size: clamp( 1.125rem , 0.885rem  +  1.2vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 0.885rem  +  1.2vw , 1.875rem )) {
    .information__description {
      font-size: calc(1.125rem + 0.75 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .information__description {
    font-size: 1.125rem;
  }
}
.information__link {
  color: #fff;
  font-size: 1.8125rem;
  background-color: #1e2832;
  padding: 0.9375rem 1.25rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (max-width: 43.6875em) {
  .information__link {
    font-size: 1.25rem;
  }
}
.information__link span {
  background: url("../img/icons/shoping-white.svg") left/22px no-repeat;
  padding-left: 2.0625rem;
}
@media (any-hover: hover) {
  .information__link:hover {
    background-color: #ff6f61;
  }
}

.picture-collections {
  -ms-flex-preferred-size: 26.5rem;
      flex-basis: 26.5rem;
  position: relative;
}
.picture-collections__img {
  width: 100%;
  height: 100%;
  aspect-ratio: 424/542;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30% 0;
  position: relative;
  z-index: 1;
}
.picture-collections::after {
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid rgb(196, 196, 196);
  position: absolute;
  top: 3%;
  left: 5%;
  border-radius: 30% 0;
}

.brands {
  background-color: #fff;
}
@media (min-width: 82.5em) {
  .brands {
    padding-top: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (padding-top: clamp( 1.875rem , 0.675rem  +  6vw , 5.625rem )) {
    .brands {
      padding-top: clamp( 1.875rem , 0.675rem  +  6vw , 5.625rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 0.675rem  +  6vw , 5.625rem )) {
    .brands {
      padding-top: calc(1.875rem + 3.75 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .brands {
    padding-top: 1.875rem;
  }
}
.brands__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 69.3125em) {
  .brands__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.brands__item {
  -ms-flex-preferred-size: 12.5rem;
      flex-basis: 12.5rem;
}
.brands__img {
  aspect-ratio: 200/70;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery {
  background-color: #fff;
}
@media (min-width: 82.5em) {
  .gallery {
    padding-top: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (padding-top: clamp( 1.875rem , 0.675rem  +  6vw , 5.625rem )) {
    .gallery {
      padding-top: clamp( 1.875rem , 0.675rem  +  6vw , 5.625rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 0.675rem  +  6vw , 5.625rem )) {
    .gallery {
      padding-top: calc(1.875rem + 3.75 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .gallery {
    padding-top: 1.875rem;
  }
}
.gallery__container {
  position: relative;
}
.gallery__grid {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(auto-fill, minmax(15.625rem, 1fr));
  gap: 1.5rem;
}
.gallery__item {
  position: relative;
  overflow: hidden;
}
@media (min-width: 34.375em) {
  .gallery__item:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }
  .gallery__item:only-child {
    grid-column: span 4;
  }
}
.gallery__labels {
  position: absolute;
  top: 1.375rem;
  left: 0;
}
.gallery__img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallery__category {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #1E2832;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.9375rem 0.875rem;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
@media (any-hover: hover) {
  .gallery__item:hover .gallery__category {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.gallery__vertical-text {
  display: none;
}
@media (min-width: 88.125em) {
  .gallery__vertical-text {
    display: block;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
    color: #000;
    font-size: 2.125rem;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: -1.5625rem;
    top: 1.5625rem;
  }
}

.labels__item {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.625rem 0.9375rem;
  text-transform: uppercase;
}
.labels__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.labels__item--red {
  background-color: #ff6f61;
}
.labels__item--black {
  background-color: #1E2832;
}

.products {
  background-color: #fff;
}
@media (min-width: 82.5em) {
  .products {
    padding-top: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (padding-top: clamp( 2.5rem , 0.5rem  +  10vw , 8.75rem )) {
    .products {
      padding-top: clamp( 2.5rem , 0.5rem  +  10vw , 8.75rem );
    }
  }
  @supports not (padding-top: clamp( 2.5rem , 0.5rem  +  10vw , 8.75rem )) {
    .products {
      padding-top: calc(2.5rem + 6.25 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .products {
    padding-top: 2.5rem;
  }
}
@media (min-width: 82.5em) {
  .products {
    padding-bottom: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (padding-bottom: clamp( 2.5rem , 0.5rem  +  10vw , 8.75rem )) {
    .products {
      padding-bottom: clamp( 2.5rem , 0.5rem  +  10vw , 8.75rem );
    }
  }
  @supports not (padding-bottom: clamp( 2.5rem , 0.5rem  +  10vw , 8.75rem )) {
    .products {
      padding-bottom: calc(2.5rem + 6.25 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .products {
    padding-bottom: 2.5rem;
  }
}
.products__title {
  margin-bottom: 2.1875rem;
}
.products__navigation {
  margin-bottom: 2.1875rem;
}
.products__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
  gap: 1.5rem;
}

.title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}
@media (min-width: 82.5em) {
  .title {
    font-size: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (font-size: clamp( 2rem , 1.64rem  +  1.8vw , 3.125rem )) {
    .title {
      font-size: clamp( 2rem , 1.64rem  +  1.8vw , 3.125rem );
    }
  }
  @supports not (font-size: clamp( 2rem , 1.64rem  +  1.8vw , 3.125rem )) {
    .title {
      font-size: calc(2rem + 1.125 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 2rem;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.navigation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.625rem;
}
@media (max-width: 25em) {
  .navigation__items {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
.navigation__item {
  font-weight: 600;
  color: #a2a2a2;
}
.navigation__item:first-child {
  color: #000;
}
@media (any-hover: hover) {
  .navigation__link:hover {
    text-decoration: underline;
  }
}
.navigation__button {
  background-color: #1e2832;
  color: #fff;
  padding: 0.625rem 1.25rem;
  min-width: 5.625rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .navigation__button:hover {
    background-color: #ff6f61;
  }
}
.navigation__button--filter span {
  background: url("../img/icons/filter.svg") left/18px no-repeat;
  padding-left: 1.375rem;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
}
.top-card {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.top-card__image {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.125rem;
}
.top-card__img-link img {
  aspect-ratio: 312/400;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.top-card__labels {
  position: absolute;
  top: 1.375rem;
  left: 0;
}
.top-card__title {
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.1;
  margin: 0 0.625rem;
}
.top-card__link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .top-card__link:hover {
    color: #ff6f61;
  }
}

.actions-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  background-color: #1E2832;
  padding: 0.9375rem 0.875rem;
  width: 100%;
  position: absolute;
  bottom: -3.125rem;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  visibility: hidden;
}
@media (any-hover: hover) {
  .top-card__image:hover .actions-card {
    visibility: visible;
    bottom: 0;
  }
}
.actions-card__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
.actions-card__link-icon img {
  width: 1.25rem;
  height: 1.25rem;
}
.actions-card__text {
  color: #fff;
  font-size: 1.125rem;
  font-family: "Roboto", sans-serif;
}
.actions-card__text span {
  background: url("../img/icons/shoping-white.svg") left/17px no-repeat;
  padding-left: 1.5625rem;
}
.bottom-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.625rem;
}
.bottom-card__category {
  color: #a2a2a2;
}
@media (any-hover: hover) {
  .bottom-card__link:hover {
    text-decoration: underline;
  }
}
.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}
.price__product {
  font-weight: 600;
}
.price__product::before {
  content: "$";
}
.price__product--old {
  text-decoration: line-through;
  color: #a2a2a2;
  font-size: 0.875rem;
}
.price__product--new {
  color: #ff6f61;
}

.zara {
  background-color: #000000;
  padding-top: 6.25rem;
  padding-bottom: 3.125rem;
}
@media (min-width: 50.3125em) {
  .zara {
    background: url("../img/backgrounds/background-zara.jpg") center/cover no-repeat;
    padding-top: 10rem;
    padding-bottom: 5.625rem;
  }
}
.zara__decoration {
  position: absolute;
  top: -6.25rem;
  right: -9.375rem;
  opacity: 0.1;
  -ms-flex-preferred-size: 45.75rem;
      flex-basis: 45.75rem;
}
.zara__decoration img {
  aspect-ratio: 732/309;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.zara__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}
@media (max-width: 50.3125em) {
  .zara__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.column-zara {
  -ms-flex-preferred-size: 31.5rem;
      flex-basis: 31.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 3.4375rem;
  font-family: "Roboto", sans-serif;
}
.column-zara__title {
  max-width: 11.9375rem;
}
.column-zara__title img {
  aspect-ratio: 191/81;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.column-zara__text {
  color: #fff;
  font-size: 1.625rem;
  line-height: 1.5;
}
.column-zara__link {
  color: #1e2832;
  font-size: 1.8125rem;
  background-color: #fff;
  padding: 1.25rem 0.9375rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .column-zara__link:hover {
    background-color: #ff6f61;
    color: #fff;
  }
}

.best-products {
  background-color: #fff;
}
@media (min-width: 82.5em) {
  .best-products {
    padding-top: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (padding-top: clamp( 2.5rem , 0.5rem  +  10vw , 8.75rem )) {
    .best-products {
      padding-top: clamp( 2.5rem , 0.5rem  +  10vw , 8.75rem );
    }
  }
  @supports not (padding-top: clamp( 2.5rem , 0.5rem  +  10vw , 8.75rem )) {
    .best-products {
      padding-top: calc(2.5rem + 6.25 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .best-products {
    padding-top: 2.5rem;
  }
}
@media (min-width: 82.5em) {
  .best-products {
    padding-bottom: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (padding-bottom: clamp( 2.5rem , 0.5rem  +  10vw , 8.75rem )) {
    .best-products {
      padding-bottom: clamp( 2.5rem , 0.5rem  +  10vw , 8.75rem );
    }
  }
  @supports not (padding-bottom: clamp( 2.5rem , 0.5rem  +  10vw , 8.75rem )) {
    .best-products {
      padding-bottom: calc(2.5rem + 6.25 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .best-products {
    padding-bottom: 2.5rem;
  }
}
.best-products__title {
  margin-bottom: 2.1875rem;
}
.best-products__navigation {
  margin-bottom: 2.1875rem;
}
.best-products__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  overflow-x: scroll;
  padding-bottom: 1.875rem;
}
.best-products__card {
  -ms-flex-preferred-size: 19.5rem;
      flex-basis: 19.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.main__instagram {
  background-color: #f4f4f5;
}

@media (min-width: 82.5em) {
  .instagram {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (padding-top: clamp( 2.5rem , 1.3rem  +  6vw , 6.25rem )) {
    .instagram {
      padding-top: clamp( 2.5rem , 1.3rem  +  6vw , 6.25rem );
    }
  }
  @supports not (padding-top: clamp( 2.5rem , 1.3rem  +  6vw , 6.25rem )) {
    .instagram {
      padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .instagram {
    padding-top: 2.5rem;
  }
}
@media (min-width: 82.5em) {
  .instagram {
    padding-bottom: 12.5rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (padding-bottom: clamp( 5rem , 2.6rem  +  12vw , 12.5rem )) {
    .instagram {
      padding-bottom: clamp( 5rem , 2.6rem  +  12vw , 12.5rem );
    }
  }
  @supports not (padding-bottom: clamp( 5rem , 2.6rem  +  12vw , 12.5rem )) {
    .instagram {
      padding-bottom: calc(5rem + 7.5 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .instagram {
    padding-bottom: 5rem;
  }
}
.instagram__title {
  margin-bottom: 3.75rem;
}
.instagram__row {
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  row-gap: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-instagram {
  -ms-flex-preferred-size: 12.5rem;
      flex-basis: 12.5rem;
  position: relative;
}
.item-instagram__link {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.item-instagram__link::after {
  content: "";
  background-color: #101010;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.item-instagram__link::before {
  content: "";
  background: url("../img/icons/instagram.svg") left/cover no-repeat;
  position: absolute;
  top: 4.6875rem;
  left: 4.6875rem;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 3.125rem;
  height: 3.125rem;
  display: none;
}
@media (any-hover: hover) {
  .item-instagram__link:hover::after {
    opacity: 0.5;
  }
  .item-instagram__link:hover::before {
    display: block;
  }
}
.item-instagram__img {
  aspect-ratio: 200/200;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

@media (min-width: 82.5em) {
  .contact-form__title {
    margin-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (margin-bottom: clamp( 3.125rem , 2.125rem  +  5vw , 6.25rem )) {
    .contact-form__title {
      margin-bottom: clamp( 3.125rem , 2.125rem  +  5vw , 6.25rem );
    }
  }
  @supports not (margin-bottom: clamp( 3.125rem , 2.125rem  +  5vw , 6.25rem )) {
    .contact-form__title {
      margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .contact-form__title {
    margin-bottom: 3.125rem;
  }
}

.mail {
  padding-bottom: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
}
.mail__input {
  -ms-flex-preferred-size: 40.1875rem;
      flex-basis: 40.1875rem;
  border-bottom: 2px solid #000;
  padding: 0.625rem 1.25rem;
}
.mail__input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.mail__input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.mail__input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.mail__input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.mail__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.mail__input:focus {
  border-bottom: 0;
}
.mail__submit {
  color: #1e2832;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  padding: 0.625rem 1.25rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .mail__submit:hover {
    color: #ff6f61;
    border-bottom: 2px solid #ff6f61;
  }
}
.mail__submit:focus {
  border-bottom: 0;
}

.footer {
  background-color: #fff;
}
.footer__top {
  padding-top: 1.25rem;
  padding-bottom: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  row-gap: 1.25rem;
}
.information-footer {
  -ms-flex-preferred-size: 24.5rem;
      flex-basis: 24.5rem;
}
.information-footer > *:not(:last-child) {
  margin-bottom: 2rem;
}
.information-footer__text {
  color: #1e2832;
  line-height: 1.5;
  text-transform: capitalize;
}
.information-footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.information-footer__link {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
@media (any-hover: hover) {
  .information-footer__link:hover {
    -webkit-transform: translateY(-0.25rem);
        -ms-transform: translateY(-0.25rem);
            transform: translateY(-0.25rem);
  }
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.menu-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
}
.menu-footer__item {
  color: #1e2832;
  font-size: 0.875rem;
  text-transform: capitalize;
}
.menu-footer__item:first-child {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    text-decoration: underline;
  }
}

.bottom-footer {
  background-color: #1E2832;
  padding: 1.25rem 0;
  color: #fff;
}
.bottom-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}
@media (max-width: 41.25em) {
  .bottom-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.9375rem;
  }
}
.bottom-footer__text {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.bottom-footer__link {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .bottom-footer__link:hover {
    -webkit-transform: translateY(-0.25rem);
        -ms-transform: translateY(-0.25rem);
            transform: translateY(-0.25rem);
  }
}
.bottom-footer__link span {
  background: url("../img/icons/arrow.svg") right/14px no-repeat;
  padding-right: 1.5625rem;
}