@import url("reset.css");

h1 {
   color: blueviolet;
}

h2 {
   color: yellowgreen;
}

.title-definition {
   color: blue;
}

#red-text {
   color: red;
}

.header-navigation,
footer {
   color: magenta;
}

.header-navigation li {
   color: brown;
}

.first-section,
.second-section {
   color: red;
}

.second-section>p {
   color: grey;
}

[class*="green"] {
   color: green;
}

.brown-text * {
   color: brown;
}

.fourth-section~.fifth-section {
   color: blue;
}

#yellow-text {
   color: yellow;
}

.fifth-section+p {
   color: maroon;
}

div.footer-text {
   color: mediumslateblue;
}

.link>a {
   color: purple;
}