@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url("fonts.css");
@import url("reset.css");

body {}

h1 {
   text-align: center;
   font-size: 40px;
   color: rgb(89, 89, 89);
   letter-spacing: 3px;
   font-weight: 700;
   text-decoration: underline;
   text-decoration-style: dotted;
}

header {
   padding-bottom: 30px;
}

.game {
   font-size: 0;
}

.container-game {
   max-width: 1000px;
   margin: 0 auto;
   background-color: beige;
   height: 600px;
}

.block-1 {
   visibility: visible;
   background-color: rgb(40, 112, 112);
   width: 60px;
   height: 120px;
}

.block-2 {
   width: 700px;
   height: 40px;
   background-color: rgb(40, 112, 112);
   visibility: hidden;
}

.block-3 {
   width: 50px;
   height: 100px;
   background-color: rgb(40, 112, 112);
   visibility: hidden;
   margin-left: 650px;
}

.block-4 {
   width: 300px;
   height: 30px;
   background-color: rgb(40, 112, 112);
   visibility: hidden;
   margin-left: 400px;
}

.block-5 {
   width: 25px;
   height: 200px;
   background-color: rgb(40, 112, 112);
   visibility: hidden;
   margin-left: 400px;
}

.block-6 {
   width: 80px;
   height: 50px;
   background-color: rgb(193, 16, 16);
   visibility: hidden;
   margin-left: 370px;
}


.block-1:hover+.block-2 {
   visibility: visible;
}

.block-2:hover+.block-3,
.block-2:hover {
   visibility: visible;
}

.block-3:hover+.block-4,
.block-3:hover {
   visibility: visible;
}

.block-4:hover+.block-5,
.block-4:hover {
   visibility: visible;
}

.block-5:hover+.block-6,
.block-5:hover {
   visibility: visible;
}

.block-6:hover {
   visibility: visible;
}

.practice {
   padding: 50px 0px;
   font-family: "Exo", sans-serif;
   font-size: 28px;
}

.practice h2 {
   text-align: center;
   font-size: 34px;
   margin-bottom: 50px;
}

.red-button {
   padding: 15px 60px;
   background-color: #ff0606;
   border: 2px solid rgb(58, 57, 57);
   font-weight: 700;
   border-radius: 10px;
   color: #fff;
   margin-bottom: 50px;
}

.red-button::after {
   content: " ";
   background: url("../img/heart.png") no-repeat;
   width: 32px;
   height: 30px;
   margin-left: 5px;
}

.red-button:hover {
   background-color: #817b7b;
}

.red-button:active {
   background-color: #474646;
}

.red-button:visited {
   background-color: #b50f0f;
}

/*
.red-button:focus {
   background-color: #d16117;

}
*/

/*
.red-button:focus-visible {
   background-color: #d16117;
}
*/

.practice-list-first li {
   margin-bottom: 20px;
}

.practice-list-first li::before {
   content: "";
   background: url("../img/icon.svg") no-repeat;
   width: 29px;
   height: 29px;
   vertical-align: middle;
   padding-right: 50px;
}

.practice-list-first li:first-child {
   font-weight: 700;
   text-transform: capitalize;
}

.practice-list-first li:nth-child(3) {
   color: #b50f0f;
   text-decoration: underline;
}

.practice-list-first li:last-child {
   color: #474646;
   text-decoration: line-through;
   margin-bottom: 0px;
}

.practice-list-first {
   margin-bottom: 30px;
}

.practice-list-second li {
   margin-bottom: 10px;
}

.practice-list-second li::before {
   content: "-";
}

.practice-list-second li:nth-child(3n+2) {
   color: #bc0000;
   text-decoration: underline;
}

.practice-list-second:last-child {
   margin-bottom: 0px;
}

.practice-list-second {
   margin-bottom: 40px;
}

.practice-article {}

.practice-article>* {
   margin-bottom: 20px;
}

.practice-article>*:last-child {
   margin-bottom: 0px;
}

.practice-article h3 {
   text-align: center;
   font-size: 40px;
   font-weight: 700;
   margin-bottom: 40px;
}

.practice-article a {
   background-color: #000001;
   color: #fff;
   padding: 15px 30px;
   border-radius: 5px;
}

.practice-article a:hover {
   background-color: #ffdb12;
   color: #000000;
   border-radius: 15px;
   border: 1px solid black;
}

.practice-article a:active {
   background-color: #c9ac07;
}

.practice-article p:not(:last-of-type) {
   font-weight: 700;
}

.practice-article p:first-of-type {
   color: #656363;
}

.practice-article:has(span) span {
   display: block;
}

.practice-article:has(span) .check-span {
   background-color: #ffdb12;
   padding: 30px;
   border: 2px solid black;
   border-radius: 5px;
}

.first-section {
   font-family: "Proxima Nova Rg", sans-serif;
   font-size: 16px;
   color: #2b2929;
   background-color: #F8F8F8;
   padding: 50px 0px 40px 0px;
}

.container {
   max-width: 1080px;
   margin: 0 auto;
}

.first-section h2 {
   font-weight: bold;
   font-size: 40px;
   text-align: center;
}

.article>* {
   margin-bottom: 40px;
}

.article>*:last-child {
   margin-bottom: 0;
}

.content-image img {
   border-radius: 8px;
   margin-bottom: 40px;
}

.content-image p {
   margin-bottom: 30px;
}

.content-image p:last-child {
   margin-bottom: 0px;
}

.first-section p,
.list-style li {
   line-height: 1.7;
}

.list-style li {
   background: url("../img/icon.svg") 0 0 no-repeat;
   padding-left: 45px;
   margin-bottom: 20px;
   min-height: 27px;
}

.list-style li:last-child {
   margin-bottom: 0;
}

.furniture-options {
   margin-bottom: 40px;
}

p.bold-text {
   font-size: 20px;
   font-weight: bold;
   line-height: 1.2;
   margin-bottom: 15px;
}

.second-section {
   background: url('../img/background_about_me.png') center/cover no-repeat;
   font-family: "Exo", sans-serif;
   color: #fff;
   font-size: 18px;
   padding: 80px 0px;
}

.container-2 {
   max-width: 1150px;
   margin: 0 auto;
}

.second-section h2 {
   font-size: 60px;
   text-transform: uppercase;
   font-weight: 700;
   line-height: 1.16;
   text-align: center;

}

.second-section h2::after {
   content: "";
   height: 1px;
   display: block;
   width: 40%;
   background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 49%, rgba(36, 0, 255, 1) 85%);
   margin: 20px auto;

}

.text-container {
   max-width: 992px;
   margin: 0 auto;
}

.text-content p {
   line-height: 2.2;
   text-transform: capitalize;
   text-align: center;
}

.text-content {
   margin-bottom: 60px;
}

.items {}

.items li {
   display: inline-block;
   font-size: 20px;
   font-family: "Orbitron", sans-serif;
   font-weight: 500;
   line-height: 1.25;
}

.items li::after {
   content: "";
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 49%, rgba(36, 0, 255, 1) 85%);
   margin: 0px 60px;
}

.footer {
   background-color: #000001;
   font-family: "Exo", sans-serif;
   font-size: 20px;
   color: #fff;
   padding: 20px 0px 40px 0px;
}

.phone,
.addres,
.email {
   display: inline-block;
}

.phone,
.addres {
   margin-right: 80px;
}


.phone::before {
   content: "";
   background: url("../img/call.svg") 0 0 / 100% no-repeat;
   width: 20px;
   height: 20px;
   margin-right: 20px;
}

.addres::before {
   content: "";
   background: url("../img/place.svg") 0 0 / 100% no-repeat;
   width: 20px;
   height: 25px;
   margin-right: 20px;
   /*vertical-align: middle;*/
}

.email::before {
   content: "";
   background: url("../img/email.svg") 0 0 / 100% no-repeat;
   width: 20px;
   height: 20px;
   margin-right: 20px;
   vertical-align: middle;
}