@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,500,600,500italic&display=swap");
@font-face {
  font-family: "AmstelvarAlpha Default";
  src: url("../fonts/AmstelvarAlpha-Default.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 84.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.header__container {
  padding: 1.25rem 0;
  border-bottom: 3px solid #D9C5BC;
}
.title {
  text-align: center;
  font-size: 1.75rem;
}

.main {
  padding-top: 3.125rem;
}
.main__container > *:not(:last-child) {
  margin-bottom: 1.25rem;
}

.task {
  background-color: #EDE1CF;
  border: 8px solid #B6ADAF;
  padding: 0.9375rem;
  border-radius: 0.625rem;
}
.task > *:not(:last-child) {
  margin-bottom: 1.25rem;
}
.task__title {
  font-weight: 600;
  font-size: 1.5rem;
}
.task__question {
  font-weight: 500;
}
.task__answer--correct {
  font-weight: 600;
}
.task__answer--correct::after {
  content: "✓";
  color: #686263;
  padding-left: 0.625rem;
}
.task__solution {
  font-weight: 500;
  font-style: italic;
}
.task__solution span {
  text-decoration: underline;
}
.task code {
  color: #686263;
}

.footer {
  padding-top: 1.25rem;
  text-align: center;
  font-size: 1.5rem;
}