@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url("fonts.css");
@import url("reset.css");

body {}

h1 {
   text-align: center;
   font-size: 40px;
   color: rgb(89, 89, 89);
   letter-spacing: 3px;
   font-weight: 700;
   text-decoration: underline;
   text-decoration-style: dotted;
}

header {
   padding-bottom: 30px;
}

.first-section {
   font-family: "Proxima Nova Rg", sans-serif;
   font-size: 16px;
   color: #2b2929;
   background-color: #F8F8F8;
   padding: 50px 0px 40px 0px;
}

.container {
   max-width: 1080px;
   margin: 0 auto;
}

.first-section h2 {
   font-weight: bold;
   font-size: 40px;
   text-align: center;
   margin-bottom: 50px;
}

.content-image img {
   margin-bottom: 50px;
}

.content-image p {
   margin-bottom: 30px;
}

.first-section p,
.list-style li {
   line-height: 1.7;
}

.list-style li {
   background: url("../img/icon.svg") 0 0 no-repeat;
   padding-left: 45px;
   margin-bottom: 20px;
   min-height: 27px;
}

p.bold-text {
   font-size: 20px;
   font-weight: bold;
   line-height: 1.2;
   margin-bottom: 15px;
}

.second-section {
   background: url("../img/explore_section.png") center/ cover no-repeat;
   font-family: "Quicksand", sans-serif;
   color: #fff;
}

.container-2 {
   max-width: 1240px;
   margin: 0 auto;
}

.second-section h2 {
   font-size: 40px;
   font-weight: 700;
   line-height: 1.2;
   margin-bottom: 30px;
}

.explore-information {
   display: inline-block;
   max-width: 600px;
   vertical-align: middle;

}

.explore-information p {
   font-size: 20px;
   font-weight: 500;
   line-height: 1.6;
   margin-bottom: 30px;
}

.button {
   background-color: #fff;
   border-radius: 8px;
   font-size: 16px;
   color: #0d1216;
   font-weight: 700;
   line-height: 1.5;
}

.button span {
   background: url("../img/icon_text.png") left/20px no-repeat;
   display: inline-block;
   padding: 12px 25px;
   margin-left: 15px;

}

.image-kid {
   padding-left: 100px;
   vertical-align: middle;
}

.third-section {
   background-color: #F4F4F5;
   background-image: url("../img/flower-pattern.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100% auto;
   font-family: "Roboto", sans-serif;
   font-size: 30px;
   padding: 40px 0px;
   color: #000;
}

.container-3 {
   max-width: 1225px;
   margin: 0 auto;
}

.third-section h2 {
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 60px;
}

.block-collections {}

.collections-content {
   display: inline-block;
   max-width: 682px;
   vertical-align: middle;
}

.collections-content h3 {
   font-size: 74px;
   font-weight: 300;
   margin-bottom: 60px;
   line-height: 1.34;

}

.collections-content p {
   font-size: 30px;
   margin-bottom: 60px;
   line-height: 1.8;
   text-transform: capitalize;
}

.button-shop {
   background-color: #1e2832;
   color: #fff;
   font-size: 24px;
   text-transform: capitalize;
}

.button-shop span {
   background: url("../img/icon_shop.svg") left 18px/ 20px no-repeat;
   display: inline-block;
   padding: 19px 28px;
   margin-left: 25px;
}


.border-image {
   display: inline-block;
   border: 2px solid #919191a3;
   max-width: 400px;
   border-radius: 160px 0 160px 0;
   margin-left: 100px;
   vertical-align: middle;
}

.border-image img {
   width: 100%;
   border-radius: 160px 0 160px 0;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
   margin: -20px 18px 20px -18px;
}

.practice {
   padding: 50px 0px;
   font-size: 24px;
   font-style: italic;
}

.practice h4 {
   font-size: 30px;
   font-weight: 600;
   color: #323537;
}

.container-practice {
   max-width: 1400px;
   margin: 0 auto;
}

.block-1,
.block-2,
.block-3 {
   display: inline-block;
   width: 400px;
   height: 400px;
   text-align: center;
   padding-top: 100px;
   margin-left: 50px;
}


.block-1 {
   background-color: #c8f143;
   border-radius: 50%;
   border: 2px dashed black;
   box-shadow: inset -20px -25px 18px 10px rgba(165, 217, 23, 0.9);

}

.block-2 {
   background-color: #43f194;
   border: 15px double rgba(0, 0, 0, 0.5);
   opacity: 0.8;

}

.block-3 {
   background-color: #f1c043;
   border-top: 10px dotted rgb(67, 40, 1);
   border-bottom: 5px dashed rgb(67, 40, 1);
   box-shadow: 15px 18px 7px 5px rgba(81, 81, 81, 0.4);
   ;
}

.block-fixed {
   width: 1400px;
   margin-top: 100px;
   background: url("../img/background_4.jpg") center /cover no-repeat fixed;
   color: #ffffff;
   padding: 20px;

}

.block-4 {
   width: 1300px;
   margin-top: 100px;
   padding: 50px;
   background-image: linear-gradient(90deg, rgba(200, 241, 67, 1) 15%, rgba(67, 241, 148, 0.9260154745491946) 49%, rgba(241, 192, 67, 1) 85%);
   border-radius: 10px 50px;
   outline: 10px double rgb(204, 168, 36);
   outline-offset: 10px;
}

.block-5 {
   width: 1000px;
   margin-top: 100px;
   background: url("../img/background_1.jpg") 0 0 / 100% no-repeat;
   padding: 20px;

}

.block-6 {
   width: 1000px;
   margin-top: 100px;
   background: url("../img/background_1.jpg") 0 0 /auto 100% no-repeat;
   padding: 20px;

}

.block-7 {
   width: 1300px;
   margin-top: 100px;
   background: url("../img/background_1.jpg") 0 0 /100% 100% no-repeat;
   padding: 20px;
}

.block-8 {
   width: 1300px;
   margin-top: 100px;
   background: url("../img/background_2.png") center /contain no-repeat;
   padding: 20px;

}

.block-9 {
   width: 1300px;
   margin-top: 100px;
   background: url("../img/background_1.jpg") 0 0 /cover no-repeat;
   padding: 20px;
}

.block-10 {
   width: 1400px;
   margin-top: 100px;
   background: url("../img/background_3.jpg") 0 0 /contain repeat;
   height: 300px;

}

.footer {
   text-transform: uppercase;
   text-decoration: overline;
   text-decoration-color: rgb(89, 89, 89);
   letter-spacing: 5px;
   text-align: center;
}