@import url("fonts.css");
@import url("reset.css");

body {
   font-family: "Roboto", sans-serif;
}

h1 {
   text-align: center;
   font-size: 40px;
   color: rgb(89, 89, 89);
   letter-spacing: 3px;
   font-weight: 700;
   text-decoration: underline;
   text-decoration-style: dotted;
   margin-bottom: 30px;
}

.first-article {
   background-color: #F4F4F5;
   padding: 50px 0px;
}

.container {
   margin: 0 auto;
   width: 1330px;
}

.first-article h2 {
   font-weight: 500;
   font-size: 50px;
   text-align: center;
   text-transform: capitalize;
   margin-bottom: 65px;
}

.images {
   margin: 0 -10px;
}

.image {
   display: inline-block;
   padding: 0px 10px;
}

.second-article {
   font-family: "Proxima Nova Rg", sans-serif;
   font-size: 16px;
   color: #2b2929;
   background-color: #F8F8F8;
   padding: 50px 0px 30px 0px;
}

.container-1 {
   max-width: 1080px;
   margin: 0 auto;
}

.container-2 {
   max-width: 1290px;
   margin: 0 auto;
}

.second-article h2 {
   font-weight: bold;
   font-size: 40px;
   text-align: center;
   margin-bottom: 52px;
}

.content-image img {
   margin-bottom: 52px;
}

.content-image p {
   margin-bottom: 30px;
}

.second-article p,
.list-style li {
   line-height: 1.7;
}

.list-style li {
   margin: 0px 0px 10px 45px;
}

.list-style {
   margin-bottom: 50px;
}

p.bold-text {
   font-size: 20px;
   font-weight: bold;
   line-height: 1.2;
   margin-bottom: 15px;
}

.items {
   font-size: 0;
   margin: 0px -15px;
}

.second-article h3 {
   font-weight: bold;
   font-size: 40px;
   text-align: center;
   margin-bottom: 50px;
}

.big-text {
   text-transform: uppercase;
}

.item {
   display: inline-block;
   width: 25%;
   vertical-align: top;
   padding: 0px 15px;
}

.content {
   font-size: 16px;
   text-align: center;
}

.content img {
   margin-bottom: 15px;
}

.title {
   font-weight: 600;
   font-size: 26px;
   margin-bottom: 15px;
}

.practice {
   padding: 40px 0px 0px 0px;
   margin-bottom: 50px;
}

.practice h3 {
   font-size: 32px;
   margin-bottom: 40px;
   text-align: center;

}

.block-1,
.block-2 {
   background-color: #add562;
   color: #2b2929;
   font-size: 18px;
   line-height: 1.2;
   padding: 20px;
   margin: 0px 30px 40px 30px;
}

.block-1 {
   max-width: 100%;
   min-width: 500px;
}

.block-2 {
   max-width: 800px;
   max-height: 200px;
   overflow: auto;
}

.block-3 {
   font-size: 40px;
   margin: 0px 0px 50px 40px;
}

.example {
   display: inline-block;
   text-align: center;
   vertical-align: bottom;
   /*vertical-align: middle;*/
}

.blue-content {
   background-color: rgb(69, 133, 224);
   width: 300px;
   height: 800px;
   padding: 50px 0px;
}

.yellow-content {
   background-color: rgb(224, 214, 69);
   width: 300px;
   height: 600px;
   padding: 50px 0px;
}

.green-content {
   background-color: rgb(69, 224, 131);
   width: 300px;
   height: 400px;
   padding: 50px 0px;
}

.footer {
   text-transform: uppercase;
   text-decoration: overline;
   text-decoration-color: rgb(89, 89, 89);
   letter-spacing: 5px;
   text-align: center;
}